.container {
  padding: 32px;
}

.title {
  text-align: center;
}

.searchWrapper {
  max-width: 400px;
}

.list {
  padding: 0;
  height: 80%;
  max-height: 900px;
  overflow: auto;
}

.listItem {
  display: flex;
  margin-top: 32px;
}

.image {
  width: 100px;
  height: 100px;
}

.cardContent {
  margin-left: 16px;
}

.cardContentItem {
  padding: 8px;
}

.cardContentLabel {
  font-weight: 600;
  margin-right: 4px;
}
